[submodule "bundle/tpope-vim-pathogen"]
	path = bundle/tpope-vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/AndrewRadev-splitjoin"]
	path = bundle/AndrewRadev-splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/vim-scripts-fuzzyfinder"]
	path = bundle/vim-scripts-fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/raimondi-pickacolor"]
	path = bundle/raimondi-pickacolor
	url = https://github.com/Raimondi/PickAColor.git
[submodule "bundle/Shougo-neocomplcache"]
	path = bundle/Shougo-neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/austintaylor-vim-indentobject"]
	path = bundle/austintaylor-vim-indentobject
	url = https://github.com/austintaylor/vim-indentobject.git
[submodule "bundle/markabe-bufexplorer"]
	path = bundle/markabe-bufexplorer
	url = https://github.com/markabe/bufexplorer.git
[submodule "bundle/dterei-VimBookmarking"]
	path = bundle/dterei-VimBookmarking
	url = https://github.com/dterei/VimBookmarking.git
[submodule "bundle/garbas-vim-showmarks"]
	path = bundle/garbas-vim-showmarks
	url = https://github.com/garbas/vim-showmarks.git
[submodule "bundle/goglygeek-csapprox"]
	path = bundle/goglygeek-csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/godlygeek-tabular"]
	path = bundle/godlygeek-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/int3-vim-extradite"]
	path = bundle/int3-vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/jistr-vim-nerdtree-tabs"]
	path = bundle/jistr-vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/kana-vim-textobj-datetime"]
	path = bundle/kana-vim-textobj-datetime
	url = https://github.com/kana/vim-textobj-datetime.git
[submodule "bundle/kana-vim-textobj-entire"]
	path = bundle/kana-vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "bundle/kana-vim-textobj-user"]
	path = bundle/kana-vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/kogakure-vim-sparkup"]
	path = bundle/kogakure-vim-sparkup
	url = https://github.com/kogakure/vim-sparkup.git
[submodule "bundle/mattn-zencoding-vim"]
	path = bundle/mattn-zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/mikefarmer-snipmate"]
	path = bundle/mikefarmer-snipmate
	url = https://github.com/mikefarmer/snipmate.vim.git
[submodule "bundle/mileszs-ack"]
	path = bundle/mileszs-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/nelstrom-vim-markdown-preview"]
	path = bundle/nelstrom-vim-markdown-preview
	url = https://github.com/nelstrom/vim-markdown-preview.git
[submodule "bundle/raimondi-delimitMate"]
	path = bundle/raimondi-delimitMate
	url = https://github.com/Raimondi/delimitMate.git
