[submodule "bundle/tpope-vim-pathogen"]
	path = bundle/tpope-vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/AndrewRadev-splitjoin"]
	path = bundle/AndrewRadev-splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
; [submodule "bundle/raimondi-pickacolor"]
;   ignore = dirty
; 	path = bundle/raimondi-pickacolor
; 	url = https://github.com/Raimondi/PickAColor.git
[submodule "bundle/austintaylor-vim-indentobject"]
	path = bundle/austintaylor-vim-indentobject
	url = https://github.com/austintaylor/vim-indentobject.git
; [submodule "bundle/goglygeek-csapprox"]
; 	path = bundle/goglygeek-csapprox
; 	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/godlygeek-tabular"]
	path = bundle/godlygeek-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/mikefarmer-snipmate"]
  ignore = dirty
	path = bundle/mikefarmer-snipmate
	url = https://github.com/mikefarmer/snipmate.vim.git
[submodule "bundle/raimondi-delimitMate"]
	path = bundle/raimondi-delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/scrooloose-syntastic"]
	path = bundle/scrooloose-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/sjl-gundo"]
	path = bundle/sjl-gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/skwp-greplace"]
  ignore = dirty
	path = bundle/skwp-greplace
	url = https://github.com/skwp/greplace.vim.git
[submodule "bundle/skwp-vim-colors-solarized"]
	path = bundle/skwp-vim-colors-solarized
	url = https://github.com/skwp/vim-colors-solarized.git
[submodule "bundle/skwp-vim-indexed-search"]
	path = bundle/skwp-vim-indexed-search
	url = https://github.com/skwp/vim-indexed-search.git
[submodule "bundle/tomtom-tcomment_vim"]
	path = bundle/tomtom-tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/tpope-vim-endwise"]
	path = bundle/tpope-vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/tpope-vim-repeat"]
	path = bundle/tpope-vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/tpope-vim-surround"]
	path = bundle/tpope-vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tpope-vim-unimpaired"]
  ignore = dirty
	path = bundle/tpope-vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-scripts-l9"]
  ignore = dirty
	path = bundle/vim-scripts-l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/vim-scripts-AnsiEsc"]
  ignore = dirty
	path = bundle/vim-scripts-AnsiEsc
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
[submodule "bundle/vim-scripts-AutoTag"]
	path = bundle/vim-scripts-AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "bundle/vim-scripts-ZoomWin"]
  ignore = dirty
	path = bundle/vim-scripts-ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/vim-scripts-argtextobj"]
	path = bundle/vim-scripts-argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "bundle/vim-scripts-lastpos"]
	path = bundle/vim-scripts-lastpos
	url = https://github.com/vim-scripts/lastpos.vim.git
[submodule "bundle/vim-scripts-sudo"]
	path = bundle/vim-scripts-sudo
	url = https://github.com/vim-scripts/sudo.vim.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
; [submodule "non-root-bundles/Shougo-neocomplache"]
; 	path = non-root-bundles/Shougo-neocomplache
; 	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/sickill-vim-pasta"]
  ignore = dirty
	path = bundle/sickill-vim-pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "bundle/zakj-vim-showmarks"]
	path = bundle/zakj-vim-showmarks
	url = https://github.com/zakj/vim-showmarks.git
; [submodule "bundle/shawncplus-phpcomplete"]
; 	path = bundle/shawncplus-phpcomplete
; 	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/b4winckler-vim-angry"]
	path = bundle/b4winckler-vim-angry
	url = https://github.com/b4winckler/vim-angry.git
[submodule "bundle/tpope-vim-fugitive"]
	path = bundle/tpope-vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
; [submodule "bundle/spf13-PIV"]
; 	path = bundle/spf13-PIV
; 	url = git://github.com/spf13/PIV.git
[submodule "bundle/tristen-vim-sparkup"]
	path = bundle/tristen-vim-sparkup
	url = https://github.com/tristen/vim-sparkup.git
[submodule "bundle/bling-vim-airline"]
	path = bundle/bling-vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/mhinz-vim-signifiy"]
	path = bundle/mhinz-vim-signifiy
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/ap-vim-css-color"]
	path = bundle/ap-vim-css-color
	url = https://github.com/ap/vim-css-color.git
; [submodule "bundle/vim-scripts-yankring"]
;   ignore = dirty
; 	path = bundle/vim-scripts-yankring
; 	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/rking-ag"]
	path = bundle/rking-ag
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/vim-expand-region"]
  ignore = dirty
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "non-root-bundles/shougo-neocomplcache"]
	path = non-root-bundles/shougo-neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "bundle/wellle-tmux-complete"]
	path = bundle/wellle-tmux-complete
	url = https://github.com/wellle/tmux-complete.vim.git
[submodule "bundle/mkitt-tabline"]
	path = bundle/mkitt-tabline
	url = https://github.com/mkitt/tabline.vim.git
[submodule "bundle/gregsecton-gitv"]
	path = bundle/gregsecton-gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/vim-negnetsolutions-polyglot"]
	path = bundle/vim-negnetsolutions-polyglot
	url = https://github.com/negnetsolutions/vim-polyglot.git
[submodule "bundle/ctrlpvim"]
	path = bundle/ctrlpvim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
