[submodule "bundle/tpope-vim-pathogen"]
	path = bundle/tpope-vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/AndrewRadev-splitjoin"]
	path = bundle/AndrewRadev-splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/vim-scripts-fuzzyfinder"]
	path = bundle/vim-scripts-fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/raimondi-pickacolor"]
	path = bundle/raimondi-pickacolor
	url = https://github.com/Raimondi/PickAColor.git
